{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUserBundle::macros.html.twig' as U %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% oro_title_set({params : {"%entity.code%": entity.summary|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('issue_update', { id: entity.id }),
            'entity_label': 'oro.issue.entity_label'|trans
        }) }}

        {% if entity.type|lower == 'story' %}
            {{ UI.button({
                'path' : path('issue_create', { parent: entity.id }),
                'label': 'oro.subissue.entity_label_add'|trans
            }) }}
        {% endif %}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-issue',
            'dataId': entity.id,
            'entity_label': 'oro.issue.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('issue_index'),
    'indexLabel': 'oro.issue.entity_plural_label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumb %}
    {% set breadcrumbs = [
    { label: 'oro.issue.entity_plural_label'|trans },
    { label: 'oro.issue.menu.issue_view'|trans }
    ] %}
    {% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}
{% endblock breadcrumb %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('oro.issue.code.label'|trans, entity.code) }}
                    {{ UI.renderProperty('oro.issue.summary.label'|trans, entity.summary) }}
                    {{ UI.renderProperty('oro.issue.type.label'|trans, entity.type) }}
                    {{ UI.renderHtmlProperty('oro.issue.description.label'|trans, entity.description|nl2br) }}
                    {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt|oro_format_datetime) }}
                    {{ UI.renderProperty('oro.ui.updated_at'|trans, entity.updatedAt|oro_format_datetime) }}
                    {{ UI.renderProperty('oro.issue.priority.label'|trans, entity.priority) }}
                    {{ UI.renderProperty('oro.issue.resolution.label'|trans, entity.resolution) }}

                    {%- set assigneeData -%}
                        {%- if entity.assignee -%}
                            {{ U.render_user_name(entity.assignee) }}
                        {%- endif -%}
                    {%- endset -%}
                    {{ UI.renderHtmlProperty('oro.issue.assignee.label'|trans, assigneeData) }}

                    {%- set reporterData -%}
                        {%- if entity.reporter -%}
                            {{ U.render_user_name(entity.reporter) }}
                        {%- endif -%}
                    {%- endset -%}
                    {{ UI.renderHtmlProperty('oro.issue.reporter.label'|trans, reporterData) }}

                    {% if entity.parent %}
                        <a href="{{ path('issue_view', {'id': entity.parent.id}) }}">{{ UI.renderProperty('oro.subissue.parent_story'|trans, entity.parent.code) }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
    {
    'title': 'Data'|trans,
    'class': 'active',
    'subblocks': [
    { 'data' : [data] }
    ]
    }
    ] %}

    {% if entity.relatedIssues is not null %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.issue.related.label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('related-issues-grid', {'ids': entity.relatedIssues})
        ]
        }]
        }] ) %}
    {% endif %}

    {% if entity.type|lower == 'story' %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.subissue.entity_plural_label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('subtask-issues-grid', {'parentId': entity.id})
        ]
        }]
        }] ) %}
    {% endif %}

    {% if entity.collaborators is not null %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.issue.collaborators.label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('collaborators-grid', {'ids': entity.collaborators})
        ]
        }]
        }] ) %}
    {% endif %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
